*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

// colors 
$-primary:#EEBF00;
$-secondary:#232B38;
$-ternary:#6C6C6C;
$-danger:#FE4545;
$-pure:#FEFEFE;
$-light:#F0F0F0;
$-heaven:#FFFFFF;
$-footer:#2D333F;

// fonts
@font-face {
    font-family: "Roboto-Medium";
    src: url(./fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Hurricane-Regular";
    src: url(./fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family:"Raleway-regular";
    src:url(./fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family:"Raleway-medium";
    src:url(./fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family:"Raleway-bold";
    src:url(./fonts/Raleway-Bold.ttf)
}
@font-face {
    font-family:"Raleway-extrabold";
    src:url(./fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family:"Raleway-semibold";
    src:url(./fonts/Raleway-SemiBold.ttf)
}
@font-face {
    font-family:"Raleway-black";
    src:url(./fonts/Raleway-Black.ttf)
}
body{
    font-family: "Raleway-regular";
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
@mixin flexpro {
    display: flex;
    justify-content: center;
    align-items: center;
}
::selection{
    background: #D6ED17FF;
    color: 606060FF;
}
header .search{
    background-color: $-secondary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    font-family: "Raleway-semibold";    
    .search-icon{
        padding-top: .3rem;
        a img{
            padding-left: .5rem;
        }
        label{
            display: block;
            width: 2rem;
        }
    }
    .timer{
        font-family: "Roboto-Raleway";
    }   
    .user{
        @include flexpro();
        .login img{
            padding-right: .5rem;
        }
        .Register img{
            padding-right: .5rem;
        }
        .cart img{
            padding-right: .5rem;
        }
    }
    a{
        list-style: none;
        text-decoration: none;
        color: white;
        font-size: 1.6rem;
    }
    .divider{
        color: white;
        padding: 0.8rem;
        // font-size: 1.6rem;
    }
}
.navbar{
    margin: 0;
}
.navigation{
    @include flexpro();
    align-items: center;
    margin: 0rem;
    margin-top: 3rem;
    justify-content: center;
    font-size: 2rem;
    // border: 2px solid blue;
    height: 5rem;
    li{
        list-style: none;
    }
    a{  
        margin: 0rem ;
        text-decoration: none;
        padding: 1.4rem 2.1rem;
        color: $-secondary;
        font-family: "Railway-black";
        font-weight: lighter;
        transition: all 0.3s ease;     
        display: block;
        transition: all;  
        transition-duration: 0.5s;
        transition-delay: 0s;
        transition-timing-function: ease-in;
    }    
    #first{
        background:$-primary;
        color: $-pure;
    }
}
.navigation li a:hover{
    background:$-primary;
    color: $-pure;
    cursor: pointer;        
}
.shadow{
    position: relative;
    background: $-heaven;
    
}
.shadow:after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 6rem;
    background: url("./icons/shadow.svg") no-repeat center center/cover;
    bottom: -1.6rem;
    z-index: -1;
}

section .intro{
    width: 100%;
    height: 70rem;
    padding-top: 3rem;
    h1{
        font-size: 5rem;
        font-family: "Roboto-Regular";
                span{
         color: $-primary;
                  }
    }
    #text{
        font-size: 3rem;
        font-weight: bolder;
        padding: .7rem;
        color: rgba(51, 51, 153,0.6)
    }
}
#shoping{
    color: $-pure;
}
.intro::before{
        content: "";
        background: url("./intro/background.jpg") no-repeat center  center/cover;
        position: absolute;
        top: 40;
        left: 0;
        width: 100vw;
        display: block;
        margin: auto;
        height: 90vh;
        z-index: -1;
        opacity: .65;
    }
.btn{
        padding: 1rem 1.2rem;
        font-size: 1.9rem;
        border: 1px solid transparent;
        border-radius: .4rem;
        cursor: pointer;
        transition: all .3s ease;
        margin-left: 1rem;
    }
    .btn-primary{
        background-color: $-primary;
        color: $-pure;
    }
    .btn-primary:hover{
        background-color: $-pure;
        color:  $-primary;
        border: 1px solid $-primary;
    }
.mens-deals{
   ul li img{
        width: 50rem;
        height: 40rem;
    }
    background-color: $-light;
    width: 100vw;
}
.price{
    background-color: $-heaven;
    color: #388E3C;
    font-size: 1.9rem;
    text-align: center;
    font-family: "Roboto Regular";
}
.center{
    text-align: center;
    background-color: $-light;
    // height: 5rem;
    font-size: 1.7rem;
    font-weight: bolder;
    padding-top: 1rem;
    margin: 0.5rem 0rem;
}
.offers{
    background-color: $-heaven;
    width: 100vw;
    .font-size{
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }  
}
.top-offers{
    background-color: $-light;
    ul li img{
        width: 50rem;
        height: 40rem;
    }
}
.heading
{
    display: block;
    font-family: "Roboto-Regular";
    @include flexpro();
    background-color: $-light;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}
.Footwear{
    background-color: $-light;
    width: 100vw;
    .shoes ul li img{
        width: 50rem;
        height: 40rem;
    }
}
.Game{
    background-color: $-light;
    .game ul li img{
        width: 50rem;
        height: 40rem;
    } 
}
  #scrollUp {
    bottom: 2rem;
    right: 2rem;
    background-image: url(../jquery-plugin/scroll-up/top.png) no-repeat center center/cover;
    width: 3rem; /* Width of image */
    height: 3rem; /* Height of image */
  }
.container{
    height: 88rem;
    display: grid;
    // grid-template-columns: 2.4fr 2.4fr 2.4fr 2.8fr;
    grid-gap: 2.5rem;
    background-color: #f1f3f6;
    grid-template-areas: 
    'box-1 box-2 box-3 box-4'
    'box-5 box-6 box-7 box-7';
    // grid-template-rows: 3fr 3fr;
    // grid-row-gap: 2.5rem;
    .box{       
        background-color: $-pure;
        padding-top: .5rem;
        margin-bottom: 3rem;        
        h2{
            text-align: center;
            padding: .3rem;
            font-size: 2rem;
        }
    .wrapper{
            display: grid;
            margin: 1.4rem;
            grid-template-columns: repeat(2,auto);
            grid-template-rows: repeat(2,auto);
            grid-row-gap: .5rem;
            grid-column-gap: .5rem;
            .category{
            display: inline-block;
            }
            img{
                width: 13rem;              
                height: 15rem;               
                padding: 0.5rem;
            }
            #text{
                font-size: 1.5rem;
                font-family: "Roboto-Regular";
                padding: 0rem 0rem 1.3rem 3rem;  
                color: #388E3C;       
               }
        }    
    }    
}
#box-1{
    grid-area: box-1;
}
#box-2{
    grid-area: box-2;
}
#box-3{
    grid-area: box-3;
}
#box-6{
    grid-area: box-6;
}
#box-5{
    background: url("./images/Black-friday.jpg") no-repeat center center/cover;
    grid-area: box-5;
}
#box-4{
    background: url("./images/promotion.jpg") no-repeat center center/cover;
    grid-area: box-4;
}
#box-7{
    background: url("./images/delivery.jpg") no-repeat center center/cover;
    grid-area: box-7;
}
.footer{
    display: flex;
    width:100vw;
    justify-content: space-evenly;
    background-color: #232F3E;
    flex-wrap: wrap;
    // position: relative;
    // left: 0;
    // bottom:0;
    height: 35rem;
    margin-top: auto;
    .foot{
        font-size: 2rem;
        line-height: 4rem;
        width: 30rem;
        height: 25rem;
        padding: 2rem;
        // border: 2px solid red;
        margin: 2rem 0rem;
        color: $-pure;
        border-right: 1px solid #454d5e;
        h1{
            line-height: 4rem;
            color: #878787;
            font-size: 2rem;
        }
        a{
            list-style: none;
            text-decoration: none;
            color: $-pure;
            :hover{
                text-decoration: underline;
                color: #B2B2B2;
            }
        }
       
    }
}
#last{
    border-right: none;
}
// Responsive
@media only screen and (min-width:992px) and (max-width:1154px) {
    html{
        font-size: 55%;
    }
    .container{
        grid-template-areas:
        'box-1 box-2 box-3'
        'box-4 box-5 box-6'
        'box-7 box-7 box-7';
    }
    #box-7{
        height: 64rem;
    }
    .footer{
        margin-top: auto;
        height: 57rem;
        justify-content: center;
        .foot{
            padding: 0rem;
            width: 18rem;
            margin-right: 1rem;
        }
    }
}
@media only screen and (min-width:822px) and (max-width:992px) {
    html{
        font-size: 45%;
    }
    .container{
        grid-template-areas:
        'box-1 box-2 box-3'
        'box-4 box-5 box-6'
        'box-7 box-7 box-7';
    }
    #box-7{
        height: 64rem;
    }
    .footer{
        margin-top: 510px;
        height: 57rem;
        justify-content: space-between;
        .foot{
            padding: 0rem;
            width: 18rem;
            margin-left: 3rem;
            border-right: none;
        }
    }
}
@media only screen and (min-width:652px) and (max-width:822px) {
    html{
        font-size: 35%;
    }
    .container{
        grid-template-areas:
        'box-1 box-1'
        'box-2 box-2'
        'box-3 box-3'
        'box-4 box-4'
        'box-5 box-5'
        'box-6 box-6'
        'box-7 box-7';
        
        .box{
             height: 85rem;
             h2{
                font-size: 4rem;
            }
        }
        .wrapper .category #text{
            font-size: 3rem;
        }
        .wrapper .category img{
        height: 33rem;
        width: 50rem;
        }
    }
    #box-7{
        height: 64rem;
    }
    .footer{
        height: 57rem;
        justify-content: space-between;
        .foot{
            padding: 0rem;
            width: 18rem;
            margin-left: 3rem;
            border-right: none;
        }
    }
}
@media only screen and (min-width:500px) and (max-width:652px) {
    html{
        font-size: 35%;
    }
    .container{
        grid-template-areas:
        'box-1 box-1'
        'box-2 box-2'
        'box-3 box-3'
        'box-4 box-4'
        'box-5 box-5'
        'box-6 box-6'
        'box-7 box-7';
    }
    #box-7{
        height: 64rem;
    }
    .footer{
        height: 57rem;
        justify-content: space-between;
        .foot{
            padding: 0rem;
            width: 18rem;
            margin-left: 3rem;
            border-right: none;
        }
    }
}