doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My-Store.com
  link(rel='stylesheet' href='./static/style.css')
  link(rel='stylesheet' type='text/css' href='./jquery-plugin/slider/jquery.flipster.min.css')
.wra
  header
    .search
      .search-icon
        label(for='ser')
        input#ser(type='text' name='Search The Item' size='50')
        a(href='#')
          img(src='../../icons/search.svg' alt='')
      .user
        .login
          img(src='../../icons/user-icon.svg' alt='')
          a(href='#') Log in
        span.divider |
        .Register
          img(src='../../icons/edit.svg' alt='')
          a(href='#') Register Now
        span.divider |
        .cart
          img(src='../../icons/cart.svg' alt='')
          a(href='#') 0 Items - ($0.00)
    .navbar.shadow
      ul.navigation
        li
          a#first(href='/') Home
        li
          a(href='/men') Men
        li
          a(href='/women') Women
        li
          a(href='/baby') Baby &amp; Kid
        li
          a(href='/home') Home &amp; Furniture
        li
          a(href='/sports') Sports
        li
          a(href='/electronics') Electronic Accessories
        li
          a(href='/mobile') Mobile Accessories
  section#section
    .main
      .intro
        h1
          | Welcome to 
          span My-Store
        h1
          | The World Best 
          span#shoping Shoping
          |  Website
        #text Happiness is not in money but in shopping
        #btn-sect
          button.btn.btn-primary Shop Now
      .mens-deals
        #timer
          h1.center.heading(style='height: 3rem;') Deals Of The Day
          span#countdown
        .deal
          ul
            li
              div
                img(src="../../images/Mens/Men's Fasion-1.jpg" alt='')
                .price From &amp;#8377 499
                .price Upto 50% Off
            li
              div
                img(src="../..//images/Mens/Men's Fasion-2.jpg" alt='')
                .price From &amp;#8377 799
                .price Extra 10% Off
            li
              div
                img(src="../../images/Mens/Men's Fasion-3.jpg" alt='')
                .price From &amp;#8377 649
                .price Upto 30% Off
            li
              div
                img(src="../../images/Mens/Men's Fasion-4.jpg" alt='')
                .price From &amp;#8377 999
                .price Extra 28% Off
            li
              div
                img(src="../../images/Mens/Men's Fasion-5.jpg" alt='')
                .price From &amp;#8377 749
                .price Upto 50% Off
            li
              div
                img(src="../../images/Mens/Men's Fasion-6.jpg" alt='')
                .price From &amp;#8377 499
                .price Extra 56% Off
            li
              div
                img(src="../../images/Mens/Men's Fasion-7.jpg" alt='')
                .price From &amp;#8377 999
                .price Upto 50% Off
      .offers
        .heading
          .center Top Offers On
          .font-size Men&apos;s Accessories
        .top-offers
          ul
            li
              div
                img(src='../../images/Top Offers/Bag.jpg' alt='')
                .price From &amp;#8377 499
                .price Extra 20% Off
            li
              div
                img(src='../../images/Top Offers/Laptop Bag.jpg' alt='')
                .price From &amp;#8377 799
                .price Upto 50% Off
            li
              div
                img(src='../../images/Top Offers/lens.jpg' alt='')
                .price From &amp;#8377 649
                .price Extra 15% Off
            li
              div
                img(src='../../images/Top Offers/Suitcase.jpg' alt='')
                .price From &amp;#8377 999
                .price Upto 10% Off
            li
              div
                img(src='../../images/Top Offers/Sunglasses.jpg' alt='')
                .price From &amp;#8377 749
                .price Upto 80% Off
            li
              div
                img(src='../../images/Top Offers/Watch.jpg' alt='')
                .price From &amp;#8377 499
                .price Upto 60% Off
            li
              div
                img(src='../../images/Top Offers/Watch2.jpg' alt='')
                .price From &amp;#8377 999
                .price Extra 40% Off
      .Footwear
        .heading
          .center Men&apos;s Footwear
        .shoes
          ul
            li
              div
                img(src="../../images/Men's Footwear/Footwear-1.jpg" alt='Footwear')
                .price From &amp;#8377 499
                .price Upto 50% Off
            li
              div
                img(src="../../images/Men's Footwear/Footwear-2.jpg" alt='Footwear')
                .price From &amp;#8377 499
            li
              div
                img(src="../../images/Men's Footwear/Footwear-3.jpg" alt='Footwear')
                .price From &amp;#8377 499
            li
              div
                img(src="../../images/Men's Footwear/Footwear-4.jpg" alt='Footwear')
                .price From &amp;#8377 499
                .price Min 50% Off
            li
              div
                img(src="../../images/Men's Footwear/Footwear-7.jpg" alt='Footwear')
                .price From &amp;#8377 499
                .price Min 40% Off
            li
              div
                img(src="../../images/Men's Footwear/Footwear-5.jpg" alt='Footwear')
                .price From &amp;#8377 499
            li
              div
                img(src="../../images/Men's Footwear/Footwear-6.jpg" alt='Footwear')
                .price From &amp;#8377 499
                .price Min 30% Off
      .Game
        .heading
          .center Gaming Accessories
        .game
          ul
            li
              div
                img(src='../../e-commerce/images/Gaming Accessories/chair.jfif' alt='')
                .price From &amp;#8377 999
            li
              div
                img(src='../../e-commerce/images/Gaming Accessories/headset.jpg' alt='')
                .price From &amp;#8377 999
                .price Upto 70% Off
            li
              div
                img(src='../../e-commerce/images/Gaming Accessories/Joystick.jpg' alt='')
                .price From &amp;#8377 999
            li
              div
                img(src='../../e-commerce/images/Gaming Accessories/ps5.jpg' alt='')
                .price From &amp;#8377 999
            li
              div
                img(src='../../e-commerce/images/Gaming Accessories/mouse.jpg' alt='')
                .price From &amp;#8377 999
                .price Upto 60% Off
            li
              div
                img(src='../../e-commerce/images/Gaming Accessories/keyboard.jfif' alt='')
                .price From &amp;#8377 999
      // grid
      .container
        #box-1.box
          h2 Shop By Categories
          .wrapper
            span.category
              img(src='../../e-commerce/images/Box-1/Laptop.jpg' alt='')
              #text Laptop
            span.category
              img(src='../../e-commerce/images/Box-1/Baby.jpg' alt='')
              #text Baby
            span.category
              img(src='../../e-commerce/images/Box-1/Toy.jpg' alt='')
              #text Toy
            span.category
              img(src='../../e-commerce/images/Box-1/Video Game.jpg' alt='')
              #text Videos Game
        #box-2.box
          h2 Home Decor
          .wrapper
            span.category
              img(src='../../e-commerce/images/Box-2/carpet.jpg' alt='')
              #text Carpet
            span.category
              img(src='../../e-commerce/images/Box-2/lamp.jpg' alt='')
              #text Lamp
            span.category
              img(src='../../e-commerce/images/Box-2/sofa.jpg' alt='')
              #text Sofa
            span.category
              img(src='../../e-commerce/images/Box-2/chair.jpg' alt='')
              #text Chair
        #box-3.box
          h2 Top Deals On Electronics
          .wrapper
            span.category-1
              img(src='../../e-commerce/images/Box-3/wired earphone.jpg' alt='')
              #text Wired Earphone
            span.category-2
              img(src='../../e-commerce/images/Box-3/Keyboard Skin.jpeg' alt='')
              #text Computer skin
            span.category-3
              img(src='../../e-commerce/images/Box-3/Data Card.jpeg' alt='')
              #text Data Card
            span.category-4
              img(src='../../e-commerce/images/Box-3/Computer cable.jpeg' alt='')
              #text Computer cable
        // <div class="box" id="box-4"></div>
        #box-5.box
        #box-6.box
          h2 Top Sellers In Book For You
          .wrapper
            span.category
              img(src='../../e-commerce/images/Box-4/book1.jpg' alt='')
            span.category
              img(src='../../e-commerce/images/Box-4/book2.jpg' alt='')
            span.category
              img(src='../../e-commerce/images/Box-4/book3.jpg' alt='')
            span.category
              img(src='../../e-commerce/images/Box-4/book4.jpg' alt='')
        #box-7.box
  footer#footer-content
    .footer
      .foot
        h1 Connect with us
        div
          a(href='http://facebook.com' target='_blank' rel='noopener noreferrer') Facebook
        div
          a(href='http://instagram.com') Instagram
        div
          a(href='http://twitter.com') Twitter
      .foot
        h1 Help
        div Payment
        div Shipping
        div Cancellation &amp; Return
        div FAQ
      .foot
        h1 Become Buisness Partner
        div Sell on My-Store
        div Advertise Your Product
        div Become an Affilate
      #last.foot
        h1 Policy
        div Return Policy
        div Terms Of Use
        div Security
        div Privacy
script(src='../../e-commerce/jquery/js/jquery.js')
script(src='../../e-commerce/jquery-plugin/slider/jquery.flipster.min.js')
script(src='../../e-commerce/javascript/timer.js')
script.
  $('.deal').flipster({
  loop: true,
  buttons: true,
  scrollwheel: false
  });
  $('.top-offers').flipster({
  loop: true,
  buttons: true,
  scrollwheel: false
  });
  $('.shoes').flipster({
  loop: true,
  buttons: true,
  scrollwheel: false
  });
  $('.game').flipster({
  loop: true,
  buttons: true,
  scrollwheel: false
  });
